# Project Euler

## What is Project Euler?
Project Euler is a series of challenging mathematical/computer programming problems that will require more than just mathematical insights to solve. Although mathematics will help you arrive at elegant and efficient methods, the use of a computer and programming skills will be required to solve most problems.
https://projecteuler.net/about

Here I'm trying to solve the 4th problem in the archives. The problem is:

"A palindromic number reads the same both ways. The largest palindrome made from the product of two 2-digit numbers is 9009 = 91 Ã— 99. Find the largest palindrome made from the product of two 3-digit numbers."

## The code
Let's divide this problem. First of all let's define a function to check if a number is palindrome. This is easy to do with lists and slicing.

In [5]:
def isPalindrome(input):
    return input[::-1] == input

Maybe the first approach to this problem is a brute-force algorithm. We know this is not the best solution, but let's do it to generate all the results and try to see a pattern to make a better algorithm later

In [26]:
productsList = []
for i in range(100):
    for j in range(100):
        productsList.append(i * j)

print("Length of productsList:", len(productsList))

Length of productsList: 10000

Well, the output list grows in a exponential rate of the input (n ^ 2). A first improvement we can make is just append to output if the number is palindrome. And then let's check the length of output.

In [34]:
productsList = []
for i in range(100):
    for j in range(100):
        product = i * j
        if isPalindrome(str(product)):
            productsList.append(product)
            
print("Length of productsList:", len(productsList))

Length of productsList: 575

This change reduced the size of output in a significant way. So now, let's find the largest palindrome made with two 2-digit numbers, as the example in the problem specification (it needs to be 9009, the product of 99 x 91).

In [36]:
largestPalindrome = sorted(productsList, reverse=True)[0]
print("The largest palindrome made from the product of two 2-digit numbers is:", largestPalindrome)

The largest palindrome made from the product of two 2-digit numbers is: 9009

This is not a hard task to Python, but how can we improve our solution?

## Analyzing

We don't need to generate all the products between two digits numbers, since we know that in the lower values the products are going to be low too. 

So let's start with the highest possible value: 99 x 99. Then, 99 x 98. But now, what's the next product? It's the product between 99 x 97 or 98 x 98. And the next? And so go on. We need to find a way to define the sequence of multiplications that will generate a descending sequence of products.

Let's make an example and take some numbers to test.

In [128]:
import pandas as pd

productsMatrix = []
label = [str(x) for x in range(99, 89, -1)]
for i in range(99, 89, -1):
    innerList = []
    for j in range(99, 89, -1):
        product = i * j
        innerList.append(product)
        
    productsMatrix.append(innerList)
    
df = pd.DataFrame(productsMatrix, index=label, columns=label)
df

      99    98    97    96    95    94    93    92    91    90
99  9801  9702  9603  9504  9405  9306  9207  9108  9009  8910
98  9702  9604  9506  9408  9310  9212  9114  9016  8918  8820
97  9603  9506  9409  9312  9215  9118  9021  8924  8827  8730
96  9504  9408  9312  9216  9120  9024  8928  8832  8736  8640
95  9405  9310  9215  9120  9025  8930  8835  8740  8645  8550
94  9306  9212  9118  9024  8930  8836  8742  8648  8554  8460
93  9207  9114  9021  8928  8835  8742  8649  8556  8463  8370
92  9108  9016  8924  8832  8740  8648  8556  8464  8372  8280
91  9009  8918  8827  8736  8645  8554  8463  8372  8281  8190
90  8910  8820  8730  8640  8550  8460  8370  8280  8190  8100

Now it's clear! We can see the sequence that generates the products in descending order (99x99, 99x98, 98x98, 99x97...). But how we can translate this to code?

Let's just visualize index and columns as it should be: index to access an 2D array (productsMatrix)

In [62]:
df = pd.DataFrame(productsMatrix)
df

      0     1     2     3     4     5     6     7     8     9
0  9801  9702  9603  9504  9405  9306  9207  9108  9009  8910
1  9702  9604  9506  9408  9310  9212  9114  9016  8918  8820
2  9603  9506  9409  9312  9215  9118  9021  8924  8827  8730
3  9504  9408  9312  9216  9120  9024  8928  8832  8736  8640
4  9405  9310  9215  9120  9025  8930  8835  8740  8645  8550
5  9306  9212  9118  9024  8930  8836  8742  8648  8554  8460
6  9207  9114  9021  8928  8835  8742  8649  8556  8463  8370
7  9108  9016  8924  8832  8740  8648  8556  8464  8372  8280
8  9009  8918  8827  8736  8645  8554  8463  8372  8281  8190
9  8910  8820  8730  8640  8550  8460  8370  8280  8190  8100

Another way to visualize this:

In [64]:
products = [x for x in range(99, 89, -1)]
products

[99, 98, 97, 96, 95, 94, 93, 92, 91, 90]

We can easily reproduce the table above using a for loop

In [80]:
productsList = []
for i in range(len(products)):
    for j in range(len(products)):
        product = products[i] * products[j]
        productsList.append(product)
    
print(productsList)

[9801, 9702, 9603, 9504, 9405, 9306, 9207, 9108, 9009, 8910, 9702, 9604, 9506, 9408, 9310, 9212, 9114, 9016, 8918, 8820, 9603, 9506, 9409, 9312, 9215, 9118, 9021, 8924, 8827, 8730, 9504, 9408, 9312, 9216, 9120, 9024, 8928, 8832, 8736, 8640, 9405, 9310, 9215, 9120, 9025, 8930, 8835, 8740, 8645, 8550, 9306, 9212, 9118, 9024, 8930, 8836, 8742, 8648, 8554, 8460, 9207, 9114, 9021, 8928, 8835, 8742, 8649, 8556, 8463, 8370, 9108, 9016, 8924, 8832, 8740, 8648, 8556, 8464, 8372, 8280, 9009, 8918, 8827, 8736, 8645, 8554, 8463, 8372, 8281, 8190, 8910, 8820, 8730, 8640, 8550, 8460, 8370, 8280, 8190, 8100]

In both our code and table there are duplicated values. It's expected because we are multipling even when we change the order of factores, and we know the order of them doesn't change the output (1 x 2 = 2 x 1). Let's get rid of it

In [108]:
productsList = []
for i in range(len(products)):
    for j in range(i + 1):
        product = products[i] * products[j]
        productsList.append(product)
        
print(productsList)

[9801, 9702, 9604, 9603, 9506, 9409, 9504, 9408, 9312, 9216, 9405, 9310, 9215, 9120, 9025, 9306, 9212, 9118, 9024, 8930, 8836, 9207, 9114, 9021, 8928, 8835, 8742, 8649, 9108, 9016, 8924, 8832, 8740, 8648, 8556, 8464, 9009, 8918, 8827, 8736, 8645, 8554, 8463, 8372, 8281, 8910, 8820, 8730, 8640, 8550, 8460, 8370, 8280, 8190, 8100]

## Finding the answer

But now let's think about how to write code to translate all these ideas. 

I'm defining as 'epoch' every time, based on the table produced by productsMatrix, a new column is used to make a multiplication. The sum of row + col cannot exceed the value of the epoch.

In epoch = 0, the only multiplication is between row = 0 x col = 0.
In epoch = 1, row = 0, col = 1
In epoch = 2, row = 1, col = 1; row = 0, col = 2. We choose this order because this is the descending order of values. 
The highest value to each epoch is the floor of each epoch divided by 2 plus 1. And this is equal to the num of iterations to each epoch

Since we don't need to always iterate from the row 0 in the beginning of every epoch, we set two variables to hold who is the number we have to compute. So, the variable 'first' holds the floor of epoch divided by 2. The variable 'second' holds the value of epoch - first.

All this logic makes us first compute the highest value for each epoch.

In [203]:
numList = [x for x in range(999, 0, -1)]
result = 0
epoch = 0
found = False
while not found:
    numIterations = (epoch // 2) + 1
    first = epoch // 2
    for i in range(numIterations):
        second = epoch - first
        product = numList[first] * numList[second]
        if isPalindrome(str(product)):
            result = product
            found = True
            break
            
        first -= 1

    epoch += 1

print("The answer is:", result)

The answer is: 906609

SPOILER ALERT: if you go to https://projecteuler.net/problem=4 and put this number as answer, you will find out our algorithm works!